/*  ./src/scss/base.scss
*/

$global-spacing: 8px;

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: #333;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

small {
  margin-right: $global-spacing * 2;
  color: rgba(black, 0.50);
}

.main-header {
  padding-top: 40px;
  text-align: center;

  h1 {
    margin: 0 0 10px 0;
    text-align: center;
    font-weight: normal;
  }

  p {
    margin: 0 auto;
    color: rgba(black, 0.60);
    font-size: 0.875em;
    text-align: center;
    position: relative;
    display: inline-block;

    &::before, &::after {
      width: 160px;
      height: 1px;
      content: ' ';
      position: absolute;
      top: 10px;
      background-color: rgba(black, 0.10);
    }

    &::before {
      left: -180px;
    }

    &::after {
      right: -180px;
    }
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto $global-spacing * 2 auto;

  &.container--charts {
    padding: $global-spacing * 2 0;
    display: flex;
    flex-wrap: wrap;
    // background-color: rgba(black, 0.10);

    .container--charts__chart {
      width: 50%;
      // background-color: rgba(black, 0.20);
    }
  }

  .chart-content {
    margin: 0 $global-spacing * 2;

    .chart-content__tools {
      margin-bottom: 20px;
    }

    .highcharts-container {
      border: 1px solid rgba(black, 0.10);
    }
  }
}
